
.inner_checkbox_area {
	padding-left: 1.6em;
}
.inner_checkbox_area > p.description {
	margin-top: 0px;
}
.static-label {
	width: 130px;
}

input[type="text"].short-text { width: 270px; }
input[type="text"].extrashort-text { width: 170px; }

/*
 * There are two different descriptions:
 */
form p.description {
	font-size: 1.1em;
}
form .form-table td p.description {
	font-size: 0.9em;
}
form .form-table td ul.description {
	color: #666;
	font-size: 0.9em;
	font-style: italic;
}
form .form-table td ul.description li {
	list-style: square;
	margin-left: 15px;
}

/*
 * Sometimes there were a lot of empty space (see `odwpdh_render_advanced_options_form()`)...
 */
.form-table td fieldset .fildset-row label {
	margin: 10px 0 0px 0px !important;
}
.form-table td fieldset .fildset-row:first-of-type label {
	margin: 0px 0 0px 0px !important;
}

select[name="supports"] {
	width: 200px;
}
